<%= turbo_stream.update "follow_btn_for_user_#{@user.id}" do %>
  <%= button_to follow_user_path(@user), class: "btn btn-primary btn-sm", data: { turbo_stream: true } do %>
    Follow
  <% end %>
<% end %>

<%= turbo_stream.update "followers_count_for_user_#{@user.id}" do %>
  <span class="font-bold text-lg"><%= @user.followers.size %></span>
<% end %>
